RewriteEngine On
# The following rule tells Apache that if the requested filename
# exists, simply serve it.
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
# The following rewrites all other queries to index.php. The
# condition ensures that if you are using Apache aliases to do
# mass virtual hosting, the base path will be prepended to
# allow proper resolution of the index.php file; it will work
# in non-aliased environments as well, providing a safe, one-size
# fits all solution.
RewriteCond %{REQUEST_URI}::$1 ^(/.+)(.+)::\2$
RewriteRule ^(.*) - [E=BASE:%1]
RewriteRule ^(.*)$ %{ENV:BASE}index.php [NC,L]

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

Redirect 301 /funds/simplicity-nya-europa http://fondout.dev/funds/simplicity-europa
Redirect 301 /funds/ikc-taktisk-allokering-opportunities http://www.sparahallbart.se/funds/fbp-opportunities-flexible
Redirect 301 /funds/ikc-world-wide http://www.sparahallbart.se/funds/fbp-pension-variabel
Redirect 301 /funds/dnb-formogenhetsforvaltning http://www.sparahallbart.se/fundcompany/dnb-norge
Redirect 301 /funds/handelsbanken-sverige-varlden http://www.sparahallbart.se/funds/handelsbanken-globalfond
Redirect 301 /funds/folksams-aktiefond-sverige http://www.sparahallbart.se/funds/swedbank-robur-access-sverige
Redirect 301 /funds/folksams-aktiefond-europa http://www.sparahallbart.se/funds/swedbank-robur-access-europa
Redirect 301 /funds/folksams-aktiefond-usa http://www.sparahallbart.se/funds/swedbank-robur-access-usa
Redirect 301 /funds/folksams-aktiefond-asien http://www.sparahallbart.se/funds/swedbank-robur-access-asien
Redirect 301 /funds/swedbank-robur-indexfond-asien http://www.sparahallbart.se/funds/swedbank-robur-access-asien
Redirect 301 /funds/swedbank-robur-indexfond-europa http://www.sparahallbart.se/funds/swedbank-robur-access-europa
Redirect 301 /funds/swedbank-robur-indexfond-sverige http://www.sparahallbart.se/funds/swedbank-robur-access-sverige
Redirect 301 /funds/swedbank-robur-indexfond-usa http://www.sparahallbart.se/funds/swedbank-robur-access-usa
Redirect 301 /funds/cicero-world-wide http://www.sparahallbart.se/fundcompany/cicero

Redirect 301 /organisation/global-compact http://www.sparahallbart.se/organisation
Redirect 301 /organisation/cdp http://www.sparahallbart.se/organisation
