.qa-section {
  margin-top: 30px;
  margin-bottom: 30px;

  /*.h1, h1,*/  h3, .h3 {
    border-bottom: 1px @brand-primary solid;
    padding-bottom: 0.4em;
    margin-bottom: 0.8em;
  }

  .h2, h2 {
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 0.5em;
}

  .h2, h2, h3, .h3, h4, .h4 {
    margin-top: 2em;
  }

  h3 + h4 {
    margin-top: 0em;
  }

  .category-desc {
    .h3, h3 {
      margin-top: 0.5em;
    }
    .category-image {
      max-width: 410px;
      width: 100%;
    }
  }

  .how-to {
    margin: 35px 0px;
  }

  #simple-how-to > li {
      padding: 5px 0px;
  }

  #fundcategories {
    width: 200px;
  }

  .well {
    h3, .h3, h4, .h4 {
    margin-top: 0px;
    color: @brand-primary;
    font-weight: bold;
    }
  }

  .symbol {
    max-width: 40px;
  }
  .qa-bar {
    height: 50px;
    margin: 5px;
  }


  .qa-sidebar {
    width: 262px;
    font-size: 80%;


    .nav-pills > li.active > a {
      color: inherit;
      background-color: inherit;
      border-left: solid 1px @brand-primary;
      font-weight: bold;
    }

    .nav .nav {
      display: none;
      padding-bottom: 10px;
    }

    .nav .nav > li > a {
      padding: 0px 25px;
    }

    .nav .nav .nav > li > a {
      padding: 0px 35px;
    }

    .nav>.active>ul {
      display: block;
    }
  }

  .affix {
    top: 10px;
  }


  // Sa har enkelt ar det 4 steps
  .intro-section {
    font-size: 80%;
    h2, h2 {
      text-align: left;
    }
    .intro-box {
      background-color: @gray-lighter;

    }
    .intro-box:after {
      border-bottom-color: @gray-lighter;
    }
  }
}

.mid-section-image {
  .h1, h1 {
    color: white;
    font-weight: bold;
    padding: 3.3em 0em;

  }
  height: 300px;
}

.school-qa {
  background: url('/img/qa/field.jpg') no-repeat;
  background-position: 50% 100%;
  /*background-size: 100%;*/
}

.intro-qa {
  background: url('/img/qa/field.jpg') no-repeat;
  background-position: 55% 0%;
  /*background-size: 140%;*/
}
