.fund-company-funds {
  .header {
    h2, .h2 {
      margin: 20px 0px;
    }
  }
  .fund-logo {
    max-width: 200px;
    max-height: 40px;
  }
}

.fund-company-content {

}

.fund-company-header {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 10px;

  .btn {
    margin-top: 5px;
  }
}

.fund-company-picture {
  .cite {
    line-height: 2.2em;
  }

  .fund-logo {
    max-width: 300px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-container {
    max-width: 200px;
    max-height: 100px;
    //background-color: white;
    margin-bottom: 30px;

  }

  .col-thin {
    width: 25%;
  }
  .col-middle {
    width: 50%;
    height: 280px;
  }

  .organizations {
    p, .p {
      color: @brand-blue;
    }
    font-size: 80%;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #e3e3e3;
  }
}

.fund-company-page {
  mark, .mark {
    /* padding: 0px; */
    background-color: white;
  }
}

.contact {
  list-style: none;
  padding: 0px;
}
