// Fund list

.results, .sort-menu {
  h3 {
      font-size: 2rem;
      a {
      //color: black;
      color: @brand-blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }
  @media screen and (max-width: @screen-sm-min) {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .bar {
      width: 18px;
      margin: 0px 1px 5px;

    }
    .thin-bar {
      margin: 0px 4px 5px;
      width: 8px;
    }
    .thin-symbol {
      width: 14px;
      margin: 1px 1px 0px;
    }

    .round-symbol {
      width: 15px;
      margin: 0px 2px;
    }

  }
}

.sortby-header {
  float: left;
  margin: 10px;
  margin-left: 20px;
}


.sort-button {
  max-width: 30px;
  opacity: 1;
  margin: 5px 1px;
}

.sort-button:hover {
  opacity: 0.5;
}

.sort-menu{
  a:hover, a:focus {
    color: transparent;
  }
}


@media screen and (min-width: 768px) {
  .sortby-buttons {
    margin-right: 25px;
  }
}

.fund-list {
  .panel-heading > h3, .h3 {
      margin-top: 4px;
      margin-bottom: 4px;
  }
  //padding-top: 20px;
}

.results {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    //border-bottom: 1px solid rgba(0,0,0, 0.1);
    //min-height: 166px;
  }

  h3, .h3 {
    margin-top: 0px;
    //font-size: 18px;
  }
}

//depends on the height of the sorting menu?
.menu-padding {
    //padding-top:80px;
    padding-top:42px; // For mobile? btn-sm sort menu, 46px for normal btn-size
}


.sort-menu {
  background-color: white;
  border: 1px gainsboro solid;
  padding: 5px;

  .left {
    text-align: left;
  }

  .middle {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  p {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.centered-column {
  text-align: center;
}

.fund-logo {
  max-width: 150px;
  max-height: 50px;
  //margin-top: 20px;
}

.bar {
  margin: 0px 5px 0px;
  width: 18px;
}

/*.thin-bar {
  margin: 17px 5px 0px;
  width: 6.5px;
}*/

.main-bar {
  width: 30px;
  margin-top: 10px;
}

/*.thin-symbol {
  width: 17px;
  margin: 0px 0px;
  //margin-top: 4px;
}*/

.round-symbol {
  width: 18px;
  margin: 0px 5px;
}

.fundinfo-btn {
  //margin-top: 20px;
  //width: 80%;
  background-color: @brand-blue;
  color: #ffffff;
  margin-bottom: 3px;
}
.fundinfo-btn:hover {
  color: #ffffff;
  background-color: #1AB0FE;
}

.shp-categories-box {
  background-color: #E9E9E9;  // Change this to a variable in less style class
  padding: 6px 0px 17px;
}

.shp-box {
  background-color: white;
  padding: 5px 0px;

  .h5, h5 {
    margin-top: 0px;
  }
}

/*
.shp-number-score-container {
  h3, .h3 {
    //margin-top: 15px;
  }
}*/

.shp-number-score {
  font-size: 3rem;
  font-weight: 400;
}

.green {
  color: @brand-primary;
}
.yellow {
  color: @brand-warning;
}
.red {
  color: @brand-danger;
}

.round-button {
    display:block;
    @circle-diameter:100px;
    width:@circle-diameter;
    height:@circle-diameter;
    line-height:@circle-diameter;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:2rem;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}


.results {
  li {
    .row {
      padding: 4px 4px 8px;
    }
  }

  li:nth-child(2n+2) {
    .row {
      background-color: lightgrey;
    }
  }
}

// Shows the currently chosen fund category selection / filter
.fund-category-top-display {
  margin-top: 10px;
  font-size: 3.4rem;
  color: black;
}


.sort-by {
  font-weight: 600;
}



/*     MOBILE SETTINGS     */
/*     EXTRA SMALL DEVICES */
@media (max-width: @screen-sm-min) {

  .results h3, .h3 {
    margin: 10px 0px 10px;
  }

  .fund-list {
    font-size: 1.5rem;
  }

  .shp-number-score-container {
    h3, .h3 {
      margin-top: 15px;
    }
  }
}
