// Fund list

.fund-list .chart-container {
  width: 67px;
  height: 67px;
  margin-top: 5px;
}
.results {
  h3 {
      a {
      color: black;
    }
  }
}

.sortby-header {
  float: left;
  margin: 10px;
  margin-left: 20px;
}


.sort-button {
  max-width: 36px;
  opacity: 1;
}

.sort-button:hover {
  opacity: 0.5;
}

.sort-menu{
  a:hover, a:focus {
    color: transparent;
  }
}

.filter-header {
  h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  margin-left: 10px;
  margin-bottom: 15px;

}

.sustainability-desc .sust-header{
    margin-left: 7px;

}

.sustainability-desc .sustainability-number {
      font-size: 16px;
      line-height: ceil(@font-size-base*2.9);
      margin-right: 7px;
      margin-left: 7px;

}


@media screen and (min-width: 768px) {
  .sortby-buttons {
    margin-right: 25px;
  }
}

.fund-list {
  .panel-heading > h3, .h3 {
      margin-top: 4px;
      margin-bottom: 4px;
  }
}

.results {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    min-height: 166px;
  }
}

// Box above sorting holding sust category choice or info on co2
@media (min-width: @screen-sm-min) {
  .fund-list {
    .info-box {
      min-height: 90px;
      .info-box-text {
        //max-width: 80%;
        margin: 13px 0px 0px;
      }
    }
  }
}

.menu-padding {
    padding-top:80px;
}

.fund-search-intro {
  background: #f9f9f9;
}

.centered-header {
  text-align:center;
}

.intro-section {

  .h2, h2 {
    margin-bottom: 40px;
  }

  .col-md-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bars-explained {
    .col-md-4 {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .intro-symbol {
    max-width: 100px;
    max-height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-box {
    background-color: white;
    padding: 15px;
    position: relative;
    margin: 50px 0px;
  }

  .intro-symbol-box {
    min-height: 110px;
    white-space: nowrap;
    text-align: center; margin: 1em 0;

  .glyphicon-lg {
      color: @brand-primary;
      margin: 15px;
    }
  }

  .intro-box:after {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(255, 255, 255, 0);
  	border-bottom-color: #ffffff;
  	border-width: 25px;
  	margin-left: -25px;
  }

  .intro-symbol-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .intro-symbol-letter {
    font-weight: bold;
  }



}

#introBar {
  max-width: 20px;
  margin: 5px;
}

.roundintrosymbols {
  max-width: 30px;
}
.sqintrosymbols {
  max-width: 30px;
}

.sort-by-explainations {
  list-style: none;
  padding-left: 0px;
  line-height: 35px;
}

#fund-header {
  float:left;
}

#sort-header {
  float:right;
  color: @brand-blue;
}

.sort-menu {
  background-color: white;
  border: 1px gainsboro solid;
  padding: 5px;

  p {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.centered-column {
  text-align: center;
}

.fund-logo {
  max-width: 270px;
  max-height: 65px;
  margin-top: 20px;
}

.red {
  color: red;
}

.bar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35px;
}

.thin-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 8px;
  margin-left: 8px;
  width: 15.5px;
}

.thin-symbol {
  width: 30px;
  margin-top: 4px;
}

.round-symbol {
  width:40px;
}

.fundinfo-btn {
  margin-top: 20px;
  width: 80%;
  background-color: @brand-blue;
  color: #ffffff;
}
.fundinfo-btn:hover {
  color: #ffffff;
  background-color: lightgray;
}

.fundinfo-btn + .fundinfo-btn {
  margin-top: 18px;
}

.negative {
  color: red;
  font-weight: bold;
  font-size: 125%;
}

.positive {
  color: @brand-primary;
  font-weight: bold;
  font-size: 125%;
}

/*     MOBILE SETTINGS     */
/*     EXTRA SMALL DEVICES */
@media (max-width: @screen-sm-min) {

  .results h3, .h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .fund-list {
    font-size: 13px;
  }
}
