.qa-section {
  margin-top: 30px;
  margin-bottom: 30px;

  .h1, h1, .h2, h2, h3, .h3 {
    border-bottom: 1px @brand-primary solid;
    padding-bottom: 0.4em;
    margin-bottom: 0.8em;
  }

  .category-desc {
    h3, .h3 {
      border-bottom: inherit;
    }

    .category-image {
      max-width: 410px;
      width: 100%;
    }
  }

  .how-to {
    margin: 35px 0px;
  }

  #simple-how-to > li {
      padding: 5px 0px;
  }

  #fundcategories {
    width: 200px;
  }

  .well {
    h3, .h3, h4, .h4 {
    /*margin-top: 0px;*/
    color: @brand-primary;
    font-weight: bold;
    }
  }

  .symbol {
    max-width: 40px;
  }
  .qa-bar {
    height: 50px;
    margin: 5px;
  }


  .qa-sidebar {
    width: 262px;
    font-size: 80%;


    .nav-pills > li.active > a {
      color: inherit;
      background-color: inherit;
      border-left: solid 1px @brand-primary;
      font-weight: bold;
    }

    .nav .nav {
      display: none;
      padding-bottom: 10px;
    }

    .nav .nav > li > a {
      padding: 0px 15px;
    }

    .nav>.active>ul {
      display: block;
    }
  }

  .affix {
    top: 10px;
  }


  // Sa har enkelt ar det 4 steps
  .intro-section {
    font-size: 80%;
    h2, h2 {
      text-align: left;
    }
    .intro-box {
      background-color: @gray-lighter;

    }
    .intro-box:after {
      border-bottom-color: @gray-lighter;
    }
  }
}

.mid-section-image {
  height: 260px;
}

.school-qa {
  background: url('/img/qa/stockholm.jpg'), no-repeat;
  background-position: 0% 80%;
  background-size: 100%;
}

.intro-qa {
  background: url('/img/qa/oilrig.jpg'), no-repeat;
  background-position: 50% 30%;
  background-size: 133%;
}
