// Fund list

.fund-list .chart-container {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 768px) {
    .fund-list .co2-meter {
        margin-right: 8%;
    }
}

.sustainability-desc .sustainability-score {
    font-size: 16px;
    line-height: 30px;
    margin: 32px;
}

.sortby-header {
  float: left;
  margin: 10px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .sortby-buttons {
    margin-right: 25px;
  }
}

/*.fund-list {

  .co2-header {
    margin-bottom: -18px;
  }
  .co2-meter-number {
      margin-top: 10px;
      font-size: ceil(@font-size-base*2.9);
  }
  .co2-meter-unit {
      margin-top:-5px;
  }

  .co2-na {
    color: #cecece;
  }
}*/
