// Fund page

.fund-page .panel-body {
  min-height: 120px;
}

.fund-page > .header {
  /*border: gainsboro 1px solid;
  min-height: 40px;
  padding: 20px 0px 10px;*/
}

.fund-page  > div > .info {
  /*border: gainsboro 1px solid;
  border-top: transparent;*/
}

.fund-page  > div > .content {
  /*border: gainsboro 1px solid;
  border-top: transparent;*/
}

.nav {
  .bar {
    height: 58px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .thin-bar {
    height: 58px;
    margin: 0px 9px 15px;
  }
}

.bar-tabs {
  text-align:center;


  .nav > li > a {
    padding: 5px 5px;
  }

  .nav > .thintab > a  {
    padding: 5px 0px;
  }
  .thin-symbol {
    margin: 1px 0px;
    width: 28px;
  }

  .round-symbol {
    width: 30px;
  }
}


.measure-tabs {
  .bar {
    width: 35px;
    margin-bottom: 5px;
  }
  .thin-bar {
    width: 15.5px;
    margin-bottom: 5px;
  }
  .thin-symbol {
    width: 30px;
    margin: 13px 0px;
  }
  .symbol {
    width: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.measure-tabs-second-column {
  margin-top: 10px;
}

.measure-tabs-first-column {
  padding-bottom: 15px;
  min-height: 330px;
  h3 + div {
    margin-top: 20px;
  }
}

.nav-tabs > .active > .arrow-up {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 17px solid @brand-blue;
}

.nav-tabs > li:hover > .arrow-up {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 17px solid @brand-blue;
  opacity: 0.5;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
}

.arrow-box {
  min-height: 17px;
  margin: 0px 16px;
}

.thintab > .arrow-box {
  margin: 0px 5px;
  margin-top: 2px;
}

.bar-tabs > .nav-tabs {
  border-bottom: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid transparent;
  background: none;
}

.tab-content > .active {
  margin: 0px -4px -20px;
  padding: 20px;
  border: 5px solid @brand-blue;
}



.alternate-funds {
  .h4, h4 {
    font-size: 13px;
  }

  .bar {
    width: 18px;
    margin: 0px 1px 5px;

  }
  .thin-bar {
    margin: 0px 4px 5px;
    width: 8px;
  }
  .thin-symbol {
    width: 14px;
    margin: 1px 1px 0px;
  }

  .round-symbol {
    width: 15px;
    margin: 0px 2px;
  }
  @media screen and (min-width: @screen-lg-min) {
    .bar {
      margin: 0px 5px 5px;
      width: 20px;
    }
    .thin-bar {
      margin: 0px 6px 5px;
      width: 9px;
    }
    .thin-symbol {
      width: 18px;
      margin: 1px 2px 0px;
    }

    .round-symbol {
      width: 21px;
      margin: 0px 4px;
    }
  }



  .well {
    margin: 10px 0px;
  }
  .fundinfo-btn {
    width: 100%;
    color: white;
  }
}

.example-section {
  text-align: left;

  .well {
    background-color: lightyellow;
  }
}

.example-companies {
    text-align: left;
}

.measure-tabs-second-column .example-companies {
  padding: 0px 15px;
}

.example-percent {
  float: right;
}

.better-worse-row {
  margin-top:30px;
}

.premium-fund-info {
  //border-top: 1px solid gainsboro;
}

.alternate-fund {
  /*border: 1px gainsboro solid;
  border-top: transparent;
  padding: 10px;*/

  a, .a {
    color: black;
  }
  .fund-logo {
    max-width: 160px;
    max-height: 40px;
    margin-top: 10px;
  }
}

.alternate-fund:nth-child(2n+1) {
  border-left: transparent;
}

.alternate-funds-header {
  /*border: 1px gainsboro solid;
  border-top: transparent;*/
}
