// Fund page
.fund-page .sustainability-categories-list {
  //margin-left: 180px;
}

.sustainability-grades-explained .chart-cell {
    width: 30px;
}

.fund-page .small-chart {
  width: 32px;
  height: 32px;
}

.fund-page .similar-chart {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: -5px;
}

.similar-funds-co2-symbol {
  width: 27px;
}

.similar-funds-co2 {
  margin-left: 0%;

}


.similar-co2-number {

}

.similar-funds-sustainability {
  min-width: 70px;
  margin-right: 30%

}

.similar-sustainability-score {
 float: right;
}


.fund-page .big-chart {
  width: 75px;
  height: 75px;
  margin: 0px 20px 20px;
}

.fund-page {
  .co2-meter-symbol {
    margin: 5px 27px 20px;
  }
}

.fund-page .co2-meter {
  float: left;
}


.fund-page .sustainability-number {
  font-size: ceil(@font-size-base*2.9);
}

.fund-page .panel-body {
  min-height: 120px;
}

.fund-page {
  .co2-meter-number {
        margin-top: -10px;
        font-size: ceil(@font-size-base*2.9);
    }
}
