@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Exo:600,700|Lato:400,700|Open+Sans:400,300,600,700|Roboto:300,400,500,700);
@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/selectize/dist/less/selectize.bootstrap3.less";
@import "variables.less";

section {
  padding: 30px inherit;
}

input[type="submit"] {
  text-transform: uppercase;
}

.sustainability-categories {
  padding: 20px inherit;
  background: #00695c;
  color: #fff;
  // line-height: @input-height-base;

  button {
      text-transform: uppercase;
      display: inline-block;
  }
}

.checkbox h3, .h3 {
    margin-top: -15px;
    margin-bottom: 15px;
}

.jumbotron {
  margin-bottom: 0;

  h1 {
    font-weight: 600;
    // font-size:60px;
  }

  p {
    // color: #EEFF41;
  }

  &.masthead {
    text-align: center;
    /*padding-top: 100px;
    padding-bottom: 100px;*/
  }
}

@media screen and (min-width: 768px) {
    .jumbotron h1, .jumbotron .h1 {
        font-size: ceil((@font-size-base * 4));

    }
}

.featurette {
    padding-top: 80px;
    padding-bottom: 80px;

    &.callout {
      background-color: rgba(0,0,0,0.03);
      border-bottom: 1px solid rgba(0,0,0,0.07);

      .sustainability-categories {
        background-color: darkslategray;
        padding: 40px;
        margin-bottom: -120px;
      }
    }
}

.btn-test {
    // background: #aeea00;
    background: #795548;
    color: rgba(255, 255, 255, 0.6);
}

.fondout-logo {
  font-family: Exo, 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar-nav {
  text-transform: uppercase;
}

// Footer
// -------------------------

footer {
  .center-block();

  padding-bottom: 15px;
  color: @gray-light;

  text-align: center;
  font-size: @font-size-large;

  .footer-links {
    .list-inline();
    color: @gray-light;
    font-size: @font-size-base;
    padding: 10px 0;
  }

  .copyright {
    font-size: @font-size-small;
  }
}


// Dougnut chart

.chart-container {
  position: relative;
  // width: 100px;
  // height: 100px;
}

.sustainability-percentage {
  height: @font-size-base;
  line-height: @font-size-base;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: @gray-light;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.accusation-categories .label {
  cursor: help;
}


.results {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    min-height: 120px;
  }
}
