@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Exo:600,700|Lato:400,700|Open+Sans:400,300,600,700|Roboto:300,400,500,700);
@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/selectize/dist/less/selectize.bootstrap3.less";
@import "variables.less";
@import "get-list.less";
@import "get.less";
@import "get-fund-company.less";


.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  // Shadow

  -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
  background-color: white;
}

.nav li > a {
  color: #777777;
}

.navbar-toggle {
  //border: solid 1px #777777;
  .icon-bar {
    background-color: #777777;
  }
}


.navbar-nav {
  // text-transform: uppercase;
}

.navbar-brand {
  padding: 15px;
}

section {
  padding: 30px;
}

section:nth-child(4) {
  //padding-top: 80px;
}

input[type="submit"] {
  text-transform: uppercase;
}

.sustainability-categories {
  button {
      text-transform: uppercase;
      display: inline-block;
  }
}

.form-inline .checkbox {
  padding-left: 2%;
  font-size: 16px;
}

#front-sustainibility-form-label {
  margin-top: -10px;
  margin-bottom: 15px;
}

@media screen and (min-width: @screen-lg-min) {
    .container {
      //width: 970px;
  }
}

.featurette {

  @media screen and (max-width: @screen-md-min) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: @screen-md-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .h1, h1:first-child {
    margin-top: 0px;
    margin-bottom: 45px;
    text-align: center;
    font-weight: 600;
  }

    .sustainability-categories {
      text-align: center;
      padding: 25px;
      margin-top: 30px;
      margin-bottom: 40px;

      label input {
        margin-right: 4px;
      }

      input[type="submit"] {
        margin-top: 20px;
      }
    }

  &.callout {
    background-color: rgba(0,0,0,0.03);
  }
}

.callout + section {
  border-top: 1px solid rgba(0,0,0,0.07);
}


// grey/callout section preceded with a grey/callout section
.callout + .callout {
  padding-top: 0px;
  border-top: 0px;
}

#sea-info-text-section {
  background: url("/img/Dollarphotoclub_56193039.jpg"), no-repeat;
  background-size: 245%;
  background-position-x: 15%;
  background-position-y: 100%;
}

.first-section-landing-page {
  //padding-top: 30px;
  text-align: center;
  background: url("/img/pinky-swear-329329.jpg"), no-repeat;

  h1,.h1,.h3,h3 {
    color: white;
  }
  .header-row {
    h1, .h1 {

      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0px;
      @media screen and (min-width: @screen-sm-min) {
        font-size: floor(@font-size-base*4.6); // 64px;
      }
    }

    margin-top: 9%;
    margin-bottom: 9%;
  }

  .well {
    h3, .h3 {
      color: rgba(0, 0, 0, 0.8);
    }
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.7 opacity */
    background-color: rgba(220, 220, 220, 0.7);
  }
    color: rgba(0, 0, 0, 0.8);
}


.glyph-explainations {
  .glyphicon {
    font-size: 85px;
    margin:15px;
  }

  h4 {
    //color: green;
  }

  text-align: center;
}

.section-chevron-down {
  @media screen and (max-width: @screen-md-min) {
    font-size: 32px;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: @screen-md-min) {
    font-size: 46px;
    margin-top: -62px;
    margin-bottom: 18px;
  }
  text-align: center;
}


// headers with symbols to the left explaining measures CO2 and Sust.
.header-symbol {
  float: left;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 32px;
}


.header-with-symbol h2 {
  font-size: 25px;
  padding-left: 85px;

  @media screen and (min-width: @screen-sm-min) {
    font-size: 30px;
    padding-left: 100px;
  }
}

.header-with-symbol {
  margin-top: 20px;
}


// Footer
// -------------------------

footer {
  .center-block();
  padding-top: 20px;
  padding-bottom: 15px;
  color: @gray-light;

  text-align: center;
  font-size: @font-size-large;

  .footer-links {
    .list-inline();
    color: @gray-light;
    font-size: @font-size-base;
    padding: 10px 0;
  }

  .copyright {
    font-size: @font-size-small;
  }

  .disclaimer {
    font-size: @font-size-small;
  }
}

// Dougnut chart
.chart-container {
  position: relative;
}

// CO2 meter
@media (min-width: @screen-sm-min) {
  .co2-header {
    margin-bottom: -18px;
  }
  .co2-meter-number {
      margin-top: 10px;
      font-size: ceil(@font-size-base*2.9);
  }
  .co2-meter-unit {
      margin-top:-5px;
  }
}

.co2-na {
  color: #cecece;
}

.co2-meter-symbol {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}


.panel-box {
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 9px;
}

.search-fund-button {
    margin-top:6px;
}

.panel-heading > h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sus-form-collapseable-holder {
  margin-top: 40px;
}

.btn-sus-cat-collapse {
  //margin-top: -34px;
}

// About page
.image-text {
  text-align: center;
}

.sustainability-categories {
  h3 > .popover {
      color: black;
  }

  h3 > a {
    color: gray;
  }

  .popover ul {
    list-style-type: square;
    padding-left: 25px;
  }
}

.finish-words {
  font-weight: 800;
  text-align: center;
}

#index-measurements {
  text-align: center;
}

#index-sustainability-measure {
  border-bottom: 3px @brand-light solid;
  padding-bottom: 20px;
}

#index-co2-measure {
  margin-top:31px;
}
